/*
  CSS の基本的なことができるようになったり、これに時間を割けるようになったら glamor(CSS in JS)/glamorous で置き換え
*/
.App {
}

.App-bar {
  /*
    ・色は以下を参考
        http://www.material-ui.com/#/customization/colors
     ・Material-UI のデフォルトスタイルを上書きするには !important つける必要あり
  */
  background-color: #ffcc80 !important;

  /* FIXME ハンバーガーアイコンの色が見にくいので変えたい
  */

  box-shadow: none !important; /* アプリバーとロゴ領域の境目を隠す */
}

.App-intro {
  font-size: large;
}


