.Home-eyecatch {
  background-color: #ffcc80;
  padding: 72px 24px;
  box-sizing: border-box;
  color: white;
  text-align: center;
}

.Home-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Home-purpose {
  padding: 72px 24px;
  box-sizing: border-box;
  background-color: rgb(238, 238, 238);
}

.Home-purpose p {
  max-width: 700px;
  margin: 0 auto 13px;
  font-weight: 300;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.870588);
}

.Paper-container {
  text-align: center;
}

.Paper-style {
  height: 300px;
  width: 200px;
  margin: 10px !important;
  text-align: center !important;
  display: inline-block !important;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
