/*
 FIXME 本家のように FlatButton 全体を押せるようにしたい
 */
.Menu-title {
  /*cursor: pointer;*/
  font-size: 24px;
  color: rgb(255, 255, 255);
  background-color: #ffcc80;
  line-height: 64px;
  padding-left: 24px;
  margin-bottom: 8px;
}

.Menu-list {
}

